<!DOCTYPE html>
<html>
  <head>
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body style="background-image: url('../static/undraw_blank_canvas_-3-rbb.svg'); height:100vh; background-size: cover;">
    <div class="container">
      <div class="bg">
        <h1><strong><u>404</u></strong> - Page doesn't Exist in this Universe. Check a different one.</h1>
        <h3 style="color: darkblue;"><strong>The page you are looking for could not be found.</strong></h3>
        <a href="{{ url_for('login') }}"><strong>Back to Earth</strong></a>
      </div>
    </div>
  </body>
</html>